---
import HTML from '../icons/HTML.astro';
import CSS from '../icons/CSS.astro';
import JS from '../icons/JS.astro';

const TAGS = {
  HTML: {
    name: 'HTML',
    class: 'bg-black text-white',
    icon: HTML,
  },
  CSS: {
    name: 'CSS',
    class: 'bg-black text-white',
    icon: CSS,
  },
  JS: {
    name: 'JavaScript',
    class: 'bg-black text-white',
    icon: JS,
  },
};

const PROYECTS = [
  {
    title: 'Proyecto 1',
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consectetur impedit ratione blanditiis modi voluptas tenetur placeat tempore debitis perspiciatis quis, dolorem atque voluptates, explicabo odit architecto ea. Praesentium, a?',
    link: 'https://gamma.app/',
    github: 'https://github.com/',
    image: '/proyects/proyecto-1.webp',
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
];
---

{
  PROYECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>{title}</h3>
      <p class='text-lg mb-4 text-pretty'>{description}</p>
      <ul class='flex gap-x-2 flex-row mb-2'>
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class='rounded shadow-2xl shadow-white/10'
        src={image}
        alt={`Captua de pantala del proyecto ${image}`}
      />
    </article>
  ))
}
